h1 {
  color: rgba(255, 0, 0, 90%);
  margin-top: 5%;
  margin-left: 2%;
  font-size: 60px;
}
button {
  font-size: 50px;
  margin-top: 8%;
  margin-left: 20%;
  background-color: yellow;
  box-shadow: 8px 8px 2px yellow;
  border: yellow;
}
button:hover {
  cursor: pointer;
}
